@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body{
    background-color: rgb(243, 245, 245);
}
#privacyPost *{
       background:rgb(231, 235, 231);
       border-radius: 50%;
}
